@media all {



	/* ----- _GENERIC ----- */


	* {
		margin: 0;
		padding: 0;
	}

	body {
		color: #262626;
		direction: ltr;
		font: normal 1em/1.6em verdana,arial,helvetica,sans-serif;
	}

	article, section, header, footer {
		display: block;
	}

	h1, h2, h3, h4 {
		font-family: arial,verdana,helvetica,sans-serif;
		margin-bottom: 10px;
	}

	p {
		line-height: 1.3em;
	}

	ul {
		list-style-position: inside;
	}



	/* ----- _HEADER ----- */


	#header {
		background-color: #2269C3;
		color: #FFF;
		margin-bottom: 1em;
		padding: 1em;
	}

	#header h1 {
		margin-bottom: 0;
	}

	#header a {
		color: #FFF;
		text-decoration: none;
	}



	/* ----- _CONTENT ----- */


	#content {
		padding: 1em;
	}

	/* =CONTENT =HOMEPAGE */
	.homepage-section {
		border-top: solid 1px #262626;
		clear: both;
		margin-top: 2em;
		padding-bottom: 1em;
	}

	.teaser {
		clear: both;
		cursor: pointer;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.teaser:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}

	.teaser img {
		float: left;
		padding-right: 0.5em;
		width: 180px;
	}

	/* =CONTENT =ARTICLE */
	.article header {
		margin-bottom: 20px;
	}

	.article time {
		color: #888;
		font-size: 0.8em;
	}

	.article p {
		font-family: arial,verdana,helvetica,sans-serif;
		margin-bottom: 10px;
	}

	.article footer {
		background-color: #CCC;
		padding: 5px;
	}

	.article .related {
		border: solid 1px #CCC;
		display: none; /* _DOC - initial state */
		float: right;
		padding: 10px;
	}

	#teaser { /* article's teaser text */
		font-weight: bold;
	}

	.note {
		color: #888;
	}

	/* =CONTENT =ARTICLE =MEDIA */
	.media {
		margin-bottom: 10px;
		text-align: center;
	}

	.media .subtitle {
		display: block;
	}



	/* ----- _FOOTER ----- */


	#footer {
		border-top: solid 1px #262626;
		clear: both;
		margin-top: 2em;
		padding: 1em;
	}


	/* _DOC - please leave this closing-tag here, it's the closing-tag of @media all { */
}



/* ----- _MEDIA-QUERIES ----- */


@media only screen and (max-width: 319px) { /* bad phone; opera mini */
	body {
		background-color: #C70000;
	}

	.teaser img {
		display: none;
	}

	.media {
		display: none;
	}
}

@media only screen and (min-width: 320px) and (max-width: 479px) { /* android double-tap; ff portrait; ff default */
	body {
		background-color: #A5ACB2;
	}

	.teaser img {
		height: 80px;
		width: 120px;
	}

	.media img {
		width: 260px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 639px) { /* android default; android portrait; ff landscape */
	body {
		background-color: #2CA7E7;
	}

	.teaser img {
		width: 180px;
	}

	.media img {
		width: 440px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 959px) { /* android landscape */
	body {
		background-color: #876C50;
	}

	.teaser img {
		width: 260px;
	}

	.media img {
		width: 600px;
	}
}

@media only screen and (min-width: 960px) { /* tablet; desktop */
	body {
		background-color: #00AB28;
	}

	.teaser img {
		width: 320px;
	}

	.article .related {
		display: block;
	}

	.media img {
		width: 600px;
	}
}
